<apex:page showHeader="false" sidebar="false" standardStylesheets="false" standardController="Procedure__c" renderAs="pdf" applyBodyTag="false" applyHtmlTag="false">
    <head>
        <style>
            @page {
                
                 margin-top: 0.4cm;               
                 margin-bottom: 0.2cm;
                 margin-left: 0.5cm;               
                 margin-right: 0.5cm;
            }
        </style>
    </head>
    <body style="font-family: Arial Unicode MS;">
        
        <!--
             DIGITAL SIGNATURE
        -->
        
        <div name="signatre-one" style="position: fixed;">
            <apex:image value="/servlet/servlet.FileDownload?file={!Procedure__c.Signature_Attachment_Id__c}" style="margin-top: 370px; margin-left: 120px;" height="60px" width="100px" rendered="{!Procedure__c.Signature_Attachment_Id__c != null}"/>
        </div>
        
        <div name="signatre-two" style="position: fixed;">
            <apex:image value="/servlet/servlet.FileDownload?file={!Procedure__c.Signature_Attachment_Id__c}" style="margin-top: 840px; margin-left: 120px;" height="60px" width="100px" rendered="{!Procedure__c.Signature_Attachment_Id__c != null}"/>
        </div>
                   
        
        <!-- RECEIPT HEADER -->        
        <table style="width: 100%; font-size: 12px;">
            <tr>
                <td colspan="" style="text-align: left;">                    
                    <apex:image value="{!URLFOR(Procedure__c.Agency__r.Logo_URL__c)}" height="80px" width="80px"/>
                </td>
                <td style="text-align: right; width: 50%; vertical-align: top;">
                    <apex:outputField value="{!Procedure__c.Barcode__c}"/>        
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bolder !important; font-size: 18px;">{!UPPER(Procedure__c.Agency__r.Name)}</span><br/>
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingStreet}"/><br/>
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingCity}"/>,&nbsp;
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingState}"/>&nbsp;
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingPostalCode}"/><br/>
                    Tel:&nbsp;<apex:outputField value="{!Procedure__c.Agency__r.Phone}"/><br/>
                    Fax:&nbsp;<apex:outputField value="{!Procedure__c.Agency__r.Fax}"/><br/>
                    <apex:outputText value="{!Procedure__c.Agency__r.Website}"/><br/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;font-weight: bold;" height="20px;">
                    <b>CONFIRMACION DE ENTREGA</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;text-decoration: underline;font-weight: bold;" height="20px;">
                    <b>PASAPORTE</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;font-weight: bold;" height="20px;">
                    <apex:outputText value="{!Procedure__c.Numero_de_Pasaporte__c}"/>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">
                     CLIENTE
                </td>
            </tr>
            <tr>
                <td>
                    <apex:outputField value="{!Procedure__c.Customer__r.Name}"/><br/>
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingStreet}"/><br/>
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingCity}"/>,&nbsp;
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingState}"/>&nbsp;
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingPostalCode}"/><br/>
                </td>        
            </tr>
            <tr>
                <td >
                    <p style="font-size: 10px;font-weight: bold;">
                        Acepto haber recibido el pasaporte procesado.
                    </p>
                </td>
                <td >
                    <p style="font-size: 10px;font-weight: bold;text-align: right;" >
                        Fecha recibido: 
                        <apex:outputText value="{0,date,MM/dd/yyyy}"> 
                            <apex:param value="{!today()}" /> 
                        </apex:outputText>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width: 50%; height: 60px;">
                    Firma del Cliente: ________________________                   
                                      
                </td>
                <td style="text-align: right;">
                    Empleado: &nbsp; 
                    <apex:outputField value="{!Procedure__c.CreatedBy.Name}"/>
                </td>
            </tr>
            
        </table>
        
        <hr/>
        
        
        <!-- RECEIPT HEADER -->        
         <table style="width: 100%; font-size: 12px;">
            <tr>
                <td colspan="" style="text-align: left;">                    
                    <apex:image value="{!URLFOR(Procedure__c.Agency__r.Logo_URL__c)}" height="80px" width="80px"/>
                </td>
                <td style="text-align: right; width: 50%; vertical-align: top;">
                    <apex:outputField value="{!Procedure__c.Barcode__c}"/>        
                </td>
            </tr>
            <tr>
                <td>
                    <span style="font-weight: bolder !important; font-size: 18px;">{!UPPER(Procedure__c.Agency__r.Name)}</span><br/>
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingStreet}"/><br/>
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingCity}"/>,&nbsp;
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingState}"/>&nbsp;
                    <apex:outputField value="{!Procedure__c.Agency__r.BillingPostalCode}"/><br/>
                    Tel:&nbsp;<apex:outputField value="{!Procedure__c.Agency__r.Phone}"/><br/>
                    Fax:&nbsp;<apex:outputField value="{!Procedure__c.Agency__r.Fax}"/><br/>
                    <apex:outputText value="{!Procedure__c.Agency__r.Website}"/><br/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;font-weight: bold;" height="20px;">
                    <b>CONFIRMACION DE ENTREGA</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;text-decoration: underline;font-weight: bold;" height="20px;">
                    <b>PASAPORTE</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;font-weight: bold;" height="20px;">
                    <apex:outputText value="{!Procedure__c.Numero_de_Pasaporte__c}"/>
                </td>
            </tr>
            <tr>
                <td style="font-weight: bold;">
                     CLIENTE
                </td>
            </tr>
            <tr>
                <td>
                    <apex:outputField value="{!Procedure__c.Customer__r.Name}"/><br/>
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingStreet}"/><br/>
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingCity}"/>,&nbsp;
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingState}"/>&nbsp;
                    <apex:outputField value="{!Procedure__c.Customer__r.MailingPostalCode}"/><br/>
                </td>        
            </tr>
            <tr>
                <td >
                    <p style="font-size: 10px;font-weight: bold;">
                        Acepto haber recibido el pasaporte procesado.
                    </p>
                </td>
                <td >
                    <p style="font-size: 10px;font-weight: bold;text-align: right;" >
                        Fecha recibido: 
                        <apex:outputText value="{0,date,MM/dd/yyyy}"> 
                            <apex:param value="{!today()}" /> 
                        </apex:outputText>
                    </p>
                </td>
            </tr>
            <tr>
                <td style="width: 50%; height: 60px;">
                    Firma del Cliente: ________________________                   
                                      
                </td>
                <td style="text-align: right;">
                    Empleado: &nbsp; 
                    <apex:outputField value="{!Procedure__c.CreatedBy.Name}"/>
                </td>
            </tr>
            
        </table>
        
    </body>
    
                             
</apex:page>