<!--
  @description       : 
  @author            : 
  @group             : 
  @last modified on  : 10-19-2020
  @last modified by  : Silvia Velazquez
  Modifications Log 
  Ver   Date         Author             Modification
  1.0   10-08-2020   Silvia Velazquez   Initial Version
-->
<apex:page showHeader="false" 
            sidebar="false" 
            standardStylesheets="false" 
            applyHtmlTag="false" 
            applyBodyTag="false" 
            docType="html-5.0"
            cache="false"
            controller="DCWizardConfirmationController">
            
    <form ng-controller = "confirmCtrl" name="confirmationForm" novalidate="novalidate">
        <div class="slds-grid slds-wrap slds-p-top_large slds-p-around_small">
            <!-- Form -->
            <div class="slds-col slds-size_1-of-1 slds-medium-size_3-of-4 sp-form-readonly">
                <h2 class="sp-color-brand slds-text-heading_large slds-p-top_large">Aplicación para {{mainScope.global.procedureType}}</h2>
                <p class="slds-text-body_medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                <div class="slds-grid slds-grid_align-spread slds-p-top_xx-large">
                    <div class="slds-col">
                        <h3 class="sp-text-bold slds-text-heading_medium">Mis datos peronales</h3>
                    </div>
                    <div class="slds-col">
                        <button class="slds-button sp-button-brand sp-button-sm">EDITAR</button>
                    </div>
                </div>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <!-- row1.1 -->
                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                        <!-- ng-class="{'sp-has-error' : informationForm.firstname.$invalid && 
                                                    (informationForm.firstname.$touched || submitted)}"> -->
                            <input type="text" name="firstname" id="firstname" placeholder=" " readonly=" "
                                ng-model="mainScope.procedure.First_Name__c"/>
                            <label for="firstname">Primer nombre*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="middlename" id="middlename" placeholder=" " readonly=" " 
                                ng-model="mainScope.procedure.Middle_Name__c"/>
                            <label for="middlename">Segundo nombre</label>
                        </div>
                    </div>
            <!-- row1.2 -->
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="lastname" id="lastname" placeholder=" " readonly=" "
                                ng-model="mainScope.procedure.Last_Name__c"/>
                            <label for="lastname">Primer apellido*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="secondlastname" id="secondlastname" placeholder=" " readonly=" " 
                                ng-model="mainScope.procedure.Second_Last_Name__c"/>
                            <label for="secondlastname">Segundo apellido*</label>
                        </div>
                    </div>
            <!-- row1.3 -->
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="phone" id="phone" placeholder=" " readonly=" " 
                                ng-model="mainScope.valuesToConvert.Phone"/>
                            <label for="phone">Nº de teléfono en EEUU*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="email" id="email" placeholder=" " readonly=" " 
                                ng-model="mainScope.procedure.Email__c"
                                ng-pattern="mainScope.emailFormat"/>
                            <label for="email">Email*</label>
                        </div>
                    </div>
                </div>          
            <!-- row1.4 -->
                <div class="slds-grid slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-form-element__control">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <input type="date" name="birthdate" id="birthdate" placeholder=" " readonly=" " 
                                    ng-model="mainScope.valuesToConvert.Birthday"/>
                            <label for="birthdate">Fecha de nacimiento*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_2-of-3">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="passportnumber" id="passportnumber" placeholder=" " readonly=" "
                                    ng-model="mainScope.procedure.Numero_de_Pasaporte__c"/>
                            <label for="no-pasaporte">Nº de pasaporte (ver arriba a la derecha en su pasaporte) OPCIONAL</label>
                        </div>
                    </div>
                </div>
            <!-- row1.5 -->
                <div class="slds-grid slds-gutters">
                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-select_container">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <select class="slds-select" id="select-01">
                                <option value="">Provincia y Municipio de nacimiento en Cuba</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                </div>  
            <!-- row1.6 -->
                <div class="slds-grid slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="pais-origen-si-nac-fuera-cuba" id="pais-origen-si-nac-fuera-cuba" placeholder=" " />
                            <label for="pais-origen-si-nac-fuera-cuba">País de origen si nació fuera de Cuba</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="prov-origen-si-nac-fuera-cuba" id="prov-origen-si-nac-fuera-cuba" placeholder=" " />
                            <label for="prov-origen-si-nac-fuera-cuba">Provincia de origen si nació fuera de Cuba</label>
                        </div>
                    </div>
                </div>
            
            <!-- row2.1 -->
                <div class="slds-grid slds-grid_align-spread slds-p-top_xx-large">
                    <div class="slds-col">
                        <h3 class="sp-text-bold slds-text-heading_medium">Mis datos</h3>
                    </div>
                    <div class="slds-col">
                        <button class="slds-button sp-button-brand sp-button-sm">EDITAR</button>
                    </div>
                </div>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container">                
                            <select class="slds-select" id="estado-civil">
                                <option value="">Estado Civil*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <select class="slds-select" id="estado-civil">
                                <option value="">Sexo*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <select class="slds-select" id="altura">
                                <option value="">Altura(cm)*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container">                
                            <select class="slds-select" id="color-ojos">
                                <option value="">Color de ojos*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <select class="slds-select" id="color-piel">
                                <option value="">Color de piel*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-3">
                        <div class="sp-field slds-select_container">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <select class="slds-select" id="color-pelo">
                                <option value="">Color de pelo*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-form-element"> 
                            <div class="sp-field sp-field-textarea slds-form-element__control">
                                <textarea id="textarea-id-01" class="slds-textarea" placeholder=" "></textarea>
                                <label class="slds-form-element__label" for="textarea-id-01">Elementos distintivos</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slds-grid slds-grid_align-spread slds-p-top_xx-large">
                    <div class="slds-col">
                        <h3 class="sp-text-bold slds-text-heading_medium">Otrs datos importantes</h3>
                    </div>
                    <div class="slds-col">
                        <button class="slds-button sp-button-brand sp-button-sm">EDITAR</button>
                    </div>
                </div>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="primer-nombre-padre" id="primer-nombre-padre" placeholder=" " />
                            <label for="primer-nombre-padre">Primer nombre del padre*</label>
                        </div>      
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="primer-nombre-madre" id="primer-nombre-madre" placeholder=" " />
                            <label for="primer-nombre-madre">Primer nombre de la madre*</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-select_container">                
                            <select class="slds-select" id="fecha-salida-cuba">
                                <option value="">Fecha de salida de Cuba (antes de emigrar, aproximadamente)*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-select_container">                
                            <select class="slds-select" id="calif-migratoria">
                                <option value="">Clasificación Migratoria al salir de Cuba*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                        </div>  
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-form-element"> 
                            <div class="sp-field sp-field-textarea slds-form-element__control">
                                <textarea id="textarea-id-02" class="slds-textarea" placeholder=" "></textarea>
                                <label class="slds-form-element__label" for="textarea-id-02">
                                    Nombre de su centro de trabajo (si tiene un estado diferente, como el de estudiante, ama de casa o no está trabajando, escríbalo)*
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container">                
                            <select class="slds-select" id="nivel-escolaridad">
                                <option value="">Nivel de escolaridad</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <select class="slds-select" id="profesion">
                                <option value="">Profesión</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="slds-grid slds-grid_align-spread slds-p-top_xx-large">
                    <div class="slds-col">
                        <h3 class="sp-text-bold slds-text-heading_medium">Mi persona de confianza o de referencia en Cuba</h3>
                    </div>
                    <div class="slds-col">
                        <button class="slds-button sp-button-brand sp-button-sm">EDITAR</button>
                    </div>
                </div>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="nombre-presona-cuba" id="nombre-presona-cuba" placeholder=" " />
                            <label for="nombre-presona-cuba">Nombre completo de la persona que le conozca*</label>
                        </div>      
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2">
                        <div class="sp-field slds-select_container">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <select class="slds-select" id="relacion-persona">
                                <option value="">Relación suya con la persona de la referencia*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="sp-field slds-form-element__control">
                            <input type="text" name="tel-persona" id="tel-persona" placeholder=" " />
                            <label for="tel-persona">Nº de teléfono cubano de la persona (opcional)</label>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <div class="slds-form-element"> 
                            <div class="sp-field sp-field-textarea slds-form-element__control">
                                <textarea id="textarea-id-03" class="slds-textarea" placeholder=" "></textarea>
                                <label class="slds-form-element__label" for="textarea-id-03">Dirección completa de la persona en la siguiente orden (Calle, Avenida, Nº, Apartamento, Municipio, Provincia) Atención: Es muy importante que esta dirección esté correcta.*</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slds-grid slds-grid_align-spread slds-p-top_xx-large">
                    <div class="slds-col">
                        <h3 class="sp-text-bold slds-text-heading_medium">Mi dirección en Cuba</h3>
                    </div>
                    <div class="slds-col">
                        <button class="slds-button sp-button-brand sp-button-sm">EDITAR</button>
                    </div>
                </div>
                <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_3-of-5">
                        <div class="slds-form-element"> 
                            <div class="sp-field sp-field-textarea slds-form-element__control">
                                <textarea id="textarea-id-04" class="slds-textarea" placeholder=" "></textarea>
                                <label class="slds-form-element__label" for="textarea-id-04">Mi última dirección completa en la siguiente orden (Calle, Avenida, Nº, Apartamento, Municipio, Provincia)*</label>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_2-of-5">
                        <div class="sp-field slds-select_container">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <select class="slds-select" id="anos-vividos-ultima-direcc">
                                <option value="">Años vividos en la última dirección*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_3-of-5">
                        <div class="slds-form-element"> 
                            <div class="sp-field sp-field-textarea slds-form-element__control">
                                <textarea id="textarea-id-04" class="slds-textarea" placeholder=" "></textarea>
                                <label class="slds-form-element__label" for="textarea-id-04">Mi penúltima dirección completa en la siguiente orden (Calle, Avenida, Nº, Apartamento, Municipio, Provincia)*</label>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-medium-size_2-of-5">
                        <div class="sp-field slds-select_container">
                            <img class="sp-input-icon" src="https://via.placeholder.com/12" width="12" height="12" />
                            <select class="slds-select" id="anos-vividos-ultima-direcc">
                                <option value="">Años vividos en la penúltima dirección*</option>
                                <option>Option One</option>
                                <option>Option Two</option>
                                <option>Option Three</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Form -->
            <!-- Ayuda -->
            <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 sp-sidebar-help">
                <div class="sp-bck-lightgray slds-p-around_x-large">
                    <h2 class="slds-p-bottom_small">AYUDA</h2>
                    <p class="slds-text-body_small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!-- /Ayuda -->
        </div>
        <!-- Buttons -->
        <div class="slds-grid slds-p-top_x-large slds-m-bottom_medium">
            <div class="slds-col slds-size_7-of-12">
                <button class="slds-button sp-button-brand" ng-click = "stepBack()">← ANTERIOR</button>
            </div>
            <div class="slds-col">
                <button class="slds-button sp-button-brand" ng-click = "upsertProcedure(true,'')">SIGUIENTE →</button>
            </div>
        </div>
        <!-- /Buttons -->
    </form>
</apex:page>