<!--
  @description       : 
  @author            : 
  @group             : 
  @last modified on  : 10-15-2020
  @last modified by  : Silvia Velazquez
  Modifications Log 
  Ver   Date         Author             Modification
  1.0   10-07-2020   Silvia Velazquez   Initial Version
-->
<apex:page showHeader="false" 
            sidebar="false" 
            standardStylesheets="false" 
            applyHtmlTag="false" 
            applyBodyTag="false" 
            docType="html-5.0"
            cache="false"
            controller="DCWizardMainCntroller">
    <html ng-app="dcApp">
        <head>
            <title>Express Checkout</title>
            <meta charset="utf-8" />
            <meta name="description" content="DistrictCuba" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
            <apex:stylesheet value="{!URLFOR($Resource.SLDS2102, 'SLDS2102.css')}" />
            <apex:stylesheet value="{!$Resource.dcStyle}" />
            <apex:stylesheet value="{!$Resource.dcResourses}" />
        </head>
        <body ng-controller="mainCtrl">
            <div class="slds">
                <div class="slds-container_center slds-p-top_x-large slds-container_large">
                    <!-- Steps -->
                    <div class="slds-p-top_xx-large slds-p-bottom_x-large">
                        <div class="slds-progress">
                            <ol class="slds-progress__list">
                                <li class="slds-progress__item" ng-class="global.completedSteps[0] == true ? 'slds-is-completed' : (global.viewStep >= 0 ? 'slds-is-active' : '')">
                                    <button class="slds-button slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                            ng-click="global.viewStep >= 0 && goToStep(0)">
                                        <!-- <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                                        </svg> -->
                                        <apex:image url="{!URLFOR($Resource.dcResourses, 'img/dc-checkmark.png')}" width="12" height="12" />
                                        
                                        <span class="slds-assistive-text">Step 1</span>
                                    </button>
                                </li>
                                <li class="slds-progress__item" ng-class="global.completedSteps[1] == true ? 'slds-is-completed' : (global.viewStep >= 1 ? 'slds-is-active' : '')">
                                    <button class="slds-button slds-button_icon slds-progress__marker slds-progress__marker_icon"
                                                                        ng-click="global.viewStep >= 1 && goToStep(1)">
                                        <span class="slds-assistive-text">Step 2 </span>
                                    </button>
                                </li>
                                <li class="slds-progress__item" ng-class="{'slds-is-active' : global.viewStep >= 2}">
                                    <button class="slds-button slds-button_icon slds-progress__marker slds-progress__marker_icon">
                                        <span class="slds-assistive-text">Step 3 </span>
                                    </button>
                                </li>
                            </ol>
                            <div class="slds-progress-bar slds-progress-bar_x-small" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" role="progressbar">
                                <span class="slds-progress-bar__value" style="width:0%">
                                    <span class="slds-assistive-text">Progress: 0%</span>
                                </span>
                            </div>
                            <div class="sp-progress sp-progress-1 slds-popover slds-popover_tooltip" role="tooltip" id="step-1-tooltip">
                                <p>MI INFORMACIÓN</p>
                            </div>
                            <div class="sp-progress sp-progress-2 slds-popover slds-popover_tooltip" role="tooltip" id="step-2-tooltip">
                                <p>CONFIRMACIÓN</p>
                            </div>
                            <div class="sp-progress sp-progress-3 slds-popover slds-popover_tooltip" role="tooltip" id="step-3-tooltip">
                                <p>ENVÍO Y FORMA DE PAGO</p>
                            </div>
                        </div>
                    </div>
                    <!-- /Steps -->
                    <!-- ng-views -->
                   <!--  <div ng-view="true" >
                    </div> -->
                    <div ng-view="true">
                    </div>
                </div>
            </div>

            <!-- Script  -->
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js" />
            <script type="text/javascript" src="https://js.stripe.com/v3/"></script>

            <!-- <script type="text/javascript" src="{!URLFOR($Resource.spDatepicker) }"></script> -->
            <script type="text/javascript" src="{!$Resource.dcWizardMainController}" />
            <script type="text/javascript" src="{!$Resource.dcWizardInformationController}" />
            <script type="text/javascript" src="{!$Resource.dcWizardConfirmationController}" />
            
        </body>
    </html>
</apex:page>