<apex:page showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">

<head>
<title>Envío y forma de pago</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
<apex:stylesheet value="{!URLFOR($Resource.SLDS2102, 'SLDS2102.css')}" />
<apex:stylesheet value="{!$Resource.dcStyle}" />
</head>
<body>

    <div class="slds-container_center slds-container_medium  slds-p-around_small slds-text-align_center"> 
        <img src="https://districtcuba-dev-ed--c.documentforce.com/servlet/servlet.ImageServer?id=0153h000000wX2v&oid=00D3h000002tGXl&lastMod=159784663900" width="80" />
        <h2 class="slds-text-heading_medium slds-p-top_large">
            Gracias por su aplicación.
        </h2>
        <h2 class="slds-text-heading_large sp-color-brand">
            Su trámite ha sido enviado con exito.
        </h2>
        <p class="slds-text-body_medium slds-p-top_small">
            Recibirá un email al ***er@gmail.com con toda la información necesaria ipsum dolor sit amet. Si desea puede llamarnos al 234 222 2222 y le podemos ayudar adipiscing elit, labore et dolore magna aliqua.
        </p> 
    </div>

</body>

</apex:page>